@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@config "../tailwind.config.js";

/* use .dark on html element to enable dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html, body {
    min-height: 100vh;
    height: 100vh;
}

/* Body background color with responsive and dark mode variants */
body {
    background-color: var(--color-zinc-100);
    @apply transition-colors;
}

.dark body {
    background-color: var(--color-zinc-900)
}
